{% extends 'base.html' %}
{% block title %} About {% endblock title %}
{% block body %}

<div style="margin: 20px;">
<h1 style="color: #333;">About To-Do List</h1>
    <h2 style="color:#555;">Introduction</h2>
    <p style="color:#777;">
        Welcome to our To-Do List application! Our app is designed to help you stay organized and manage your tasks effectively.
    </p>
<h2>How to Use</h2>
    <ol style="color: #333;">
        <li>Create a new task by entering information in input boxes.</li>
        <li>Enter a title and description for the task.</li>
        <li>Click on Submit button.</li>
        
        <li>Update tasks by clicking on the "Update" button.</li>
        <li>Delete tasks by clicking on the "Delete" button.</li>
    </ol>
</div>
{% endblock body %}